<!DOCTYPE html>
<html>
  <head>
    <script src="../build/react.js"></script>
    <script src="../build/react-dom.js"></script>
    <script src="../build/browser.min.js"></script>
    <script src="../build/vue.js"></script>
  </head>
  <body>
   <div id="app5" class="demo">      
	  <input v-model="newTodo" v-on:keyup.enter="addTodo">
	  <ul>
	    <li v-for="todo in todos">
	      <button v-on:click="removeTodo($index)" >X</button>
	       <span>{{ todo.text }}</span>	     
	    </li>
	  </ul>
	</div>
	
	<div id="app6" class="demo">
	 <ul>
	    <li v-for="todo in todos">
	      <span>{{ todo.text }} == ??? ===</span>	      
	      <span>{{ todo.text }} == 222 ===</span>	 
	    </li>
	  </ul>
	  
	  <ul>
       <li v-for="too in todos">
		     <span>{{ too.text }} == ??? ===</span>	      			      
		   </li>
		</ul>	    	
	</div>

<script>

var a = new Vue({
  el: '#app5',
  data: {
    newTodo: '',
    todos: [
      { text: 'Add some todos' }
    ]
  },
  methods: {
    addTodo: function () {
      var text = this.newTodo.trim()
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }
      if (this.todos.length > 20){
      	this.todos.splice(0, 1)
      }
    },
    addTodos: function () {
      var text = this.todos.length+1
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }
      var text = this.todos.length+1
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }
      var text = this.todos.length+1
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }
     var text = this.todos.length+1
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }      
    },
    
    removeTodo: function (index) {
      this.todos.splice(index, 1)
    }
  }
})

window.onscroll = function(){
    var t = document.documentElement.scrollTop || document.body.scrollTop;  //离上方的距离
    var h =window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight; //可见宽度
    if( t >= document.documentElement.scrollHeight -h ) {
 //       alert("222");
        a.addTodos();
    }
}

</script>


<script>
new Vue({
  el: '#app6',
  data: {
    newTodo: '',
    todos: [
      { text: 'Add some todos1'},
      {text: 'Add some todos2'},
      {text: 'Add some todos3'}
    ]
  }
})
</script>


  <div id="example"></div>
     <div id="ccom"></div>
     
    <script type="text/babel">
    
	    var Comment = React.createClass({
	 	 render: function() {
	    return (
	      <div className="comment">
	        <h2 className="commentAuthor">
	         <font color='red' size='5'>  {this.props.author} </font>
	        </h2>	       
	      </div>
	    );
	  }
	});


      var Input = React.createClass({
        getInitialState: function() {
          return {value: 'Hello!'};
        },
        handleChange: function(event) {
          /* 调用 parent 的changestate  */
          //var t={aa:'aa',bb:event.target.value};
          var t=new Object();
          var tempArr=new Array(); 
          t.aa="aa";
          t.bb=event.target.value;
          tempArr[0]='0';
          tempArr[1]='1';
          tempArr[2]='2';
          t.cc = tempArr;
          
          this.props.changestate(t);
         	//this.props.changestate(event.target.value);
          this.setState({value: event.target.value});
        },
        render: function () {
          var value = this.state.value;
          return (
            <div>
              Input class  <input type="text" value={value} width="50%" onChange={this.handleChange} />
              <p>{value}</p>
            </div>
          );
        }
      });

	  var Com = React.createClass({
        getInitialState: function() {
          return {value: this.props.val};
        },
        handleChange: function(event) {
          this.setState({value: event.target.value});         
        },
        render: function () {
          var value = this.state.value;
          return (
            <div>
               Com <input type="text" value={value} onChange={this.handleChange} />
              <br/><br/>
              id <input type="text" value={value} onChange={this.handleChange} />
              <p>{value}</p>
            </div>
          );
        }
      });
      

   var CommentList = React.createClass({
  
		  render: function() {
		  
		  	function getdate(){
		  	return  [ {author:"aaa",id:"bbb",text:"ccc"},
	       						{author:"bbb",id:"bde",text:"ceff"},
	       						{author:"ced",id:"bee",text:"cefef"},
	       						{author:"cee",id:"beee",text:"cfef"},
	       						{author:"cdddd",id:"bee",text:"cfiif"}
	       					];
		  	};
	       					
		    var commentNodes = getdate().map(function(comment) {
		      return (
		        <div>
		         {comment.author}
		        </div> 
		      );
		    });
		    return (
		      <div className="commentList">
		        {commentNodes}
		      </div>
		    );
		  }
	});

		/* 包装 2个 对象*/
		
		function aa(){		
		return "==";
		}
		
		var Al = React.createClass({
		  	getInitialState: function() {
          return {value: 'TTT'};
        },
 				ee:aa,
        change: function(dat) {
         /* this.setState({value:dat});*/
       
        var t = 'a';
        alert(t);
        
         //alert(this.refs.dd.state.value);
         //this.refs.dd.setState({value:dat});
        },
        
       showlist:function(){
	       var tt = [{author:'a',id:'ab'},
	       						{author:'b',id:'bb'},
	       						{author:'c',id:'cb'},
	       						{author:'d',id:'eb'},
	       					 {author:'e',id:'ebb'}
	       					]
		     var commentNodes = tt.map(function(comment) {
			   return ( <Comment author={comment.author } key={comment.id}>
			          {comment.text}
			        </Comment>);
		    	});
		      return 	commentNodes;
     	 },
     	 
        /* props 传递函数
        设置 ref 可以直接作为DOM来使用 */
		     render: function () {    
		  
          return (
          <center>
            <div>            	
              <Input changestate={this.change}/>
              <br/><br/>
              <Com ref="dd" val='dd'/>
              <CommentList />
              {this.ee()} aa
              {this.showlist()}
            </div>
           </center> 
          );
        }
 			});

       ReactDOM.render(<Al></Al>, document.getElementById('example'));
       
    </script>
    
  </body>
</html>
